a#hide_menu( href="javascript:;" ) &laquo;

ul#main_menu
	li( data-bind="visible: visible().home" )
		a( href="#/home" )
			img( alt="Home", height="16px",
					 src="images/icons/home_48.png", width="16px" )
			| Home
	li( data-bind="visible: visible().process" )
		a( href="" )
			img( src="images/icons/paper_pencil_48.png", width="16px",
					 height="16px", alt="Processes" )
			| Process Management
		ul
			li
				a#newProcess( href="#/processes/new",
											data-bind="fancybox : {width : '21', height : '30'}")
					| Create new process
			li
				a#processList( href="processList.html", data-bind="fancybox : {}" )
					| View existing processes
			li
				ul( data-bind="foreach: allProcesses" )
					li
						a( data-bind="text: name, attr: { href: url() } ")
	li( data-bind="visible: visible().save")
		a#save( data-bind="click : save")
			img( src="images/icons/floppy_disk_48.png", width="16px", height="16px" )
			| Save Process
	li( data-bind="visible: visible().saveAs")
		a#saveAs( href="saveAsProcess.html",
							data-bind="fancybox : {width : '50', height : '40'}" )
			img( src="images/icons/floppy_disk_48.png", width="16px", height="16px" )
			| Save Process As
	li( data-bind= "visible: visible().messages" )
		a( href="")
			img( src="images/icons/mail_48.png", width="16px", height="16px", alt="Messages" )
			| Messages
		ul
			li
				a#MSGInbox( href="MSGInbox.html", data-bind="fancybox : {}" )
					| Inbox
			li
				a#MSGOutbox( href="MSGOutbox.html", data-bind="fancybox : {}")
					| Outbox
	li( data-bind= "visible: visible().execution")
		a( href="" )
			img( src="images/icons/arrow_right_48.png", height="16", width="16",
					 alt="Process Execution" )
			| Process Execution
		ul
			li
				a#newInstance( href="newInstance.html", data-bind="fancybox:{}" )
					| Start process

			li
				a#runningInstances( href="runningInstances.html", data-bind="fancybox : {}" )
					| Running instances
			li
				a#history( href="history.html", data-bind="fancybox : {}")
					| History

br.clear
br.clear
br.clear

<!-- Begin left panel calendar -->
#calendar
<!-- End left panel calendar -->
