h2 Create new process

div( style="margin:10px; width:175px; float:left;" )
  br.clear

  p( style="width:182px;" )
    <label>Name:</label>
    br
    input( type="text", id="new_process", style="width:180px;",
           data-bind="value : processName, valueUpdate:'afterkeydown'")
    script
      $("#new_process").focus();

  #processExist( style="width:170px;height:45px;" )
    span( data-bind="visible: processExist", style="color: red;" )
      | Process already exists! Please choose a different name.

  #options
    div
      label
        input( type="radio", name="caseGroup", value="isProcess",
               data-bind="checked: caseOrProcess" )
        | Create Process
    div
      label
        input( type="radio", name="caseGroup", value="isCase",
               data-bind="checked: caseOrProcess" )
        | Create Case
    div
      label
        input( type="checkbox", name="Table", value="Table",
               data-bind="checked: quickVM.displayTable, enable: isProcess" )
        | Use Table

  div( align="center", style="float:left;" )
    input( type="submit", value="Accept",
           data-bind="click : createCheck, disable: processExist, style: {color: processExist() ? 'grey' : '#333'} " )
     input( type="button", value="Cancel",
            onclick="parent.fancyreturn1=false;parent.$.fancybox.close();" )

  br.clear


#quickTable( style="width:760px; float:left; margin:20px;",
             data-bind="template: { name: 'quickView', data: quickVM}, visible: quickVM.displayTable" )

